@import url("../view/editor-style.css");

*:focus {
  outline: 2px solid rgb(138, 202, 255);
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.sb-file-list {
  margin-left: 0.5rem;
}

.sb-file-name {
  cursor: pointer;
  padding: 0.1rem;
}
.sb-file-name:hover {
  background-color: #eee;
}

.sb-file-editor-unsaved {
  background: #900;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

.sb-list {
  max-height: 100px;
  overflow-y: auto;
}
.sb-list-item {
  white-space: nowrap;
  user-select: none;
  padding: 0 0.25rem;
}
.sb-list .selected {
  background: #ccc;
}

hr {
  margin: 0;
}

/* the actual styles are in window.js */
sb-window {
  position: absolute;
  top: 0;
  left: 0;
}

.search-result {
  background-color: #ffe17d;
  outline: 1px solid #ffcc00;
}

.sb-delete-button {
  display: none;
  position: absolute;
  top: -8px;
  left: -8px;
}
.sb-deletable-shard:not(:has(.sb-deletable-shard:hover)):hover
  .sb-delete-button {
  display: block;
}
.sb-deletable-shard {
  position: relative;
}

.sb-insert-button-anchor {
  position: relative;
  height: 100%;
}

.sb-insert-button-container:not(:has(.sb-insert-button-container:hover)):hover
  > .sb-insert-button-anchor
  .sb-insert-button {
  display: block;
}
.sb-insert-button {
  display: none;
  left: 50%;
  top: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  z-index: 1;
  position: absolute;
  background: #eee;
  border-radius: 6px;
  padding: 0 0.5rem;
}

.sb-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.sb-column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sb-button-pressed {
  background: #999;
}
