sb-editor {
  display: block;
  justify-content: stretch;
}
.sb-editor-content {
  display: block;
  white-space: pre;
}
sb-block {
  display: inline;
  margin: 0;
  padding: 0;
  font-family: monospace;
  vertical-align: top;
  white-space: pre;
}
sb-block[type] {
  /*background: rgba(0.4, 0.4, 0.4, 0.006);*/
  /*border: 1px solid #efefef;*/
}
sb-text {
  white-space: pre;
  display: inline;
  vertical-align: top;
}
sb-block[type="ERROR"] {
  border: 1px solid red;
}
sb-shard {
  white-space: pre;
  word-wrap: normal;
  tab-size: 2;
  outline: none;
}
sb-editor > sb-shard {
  display: inline-block;
  min-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
td {
  padding: 0.1rem 0.5rem;
  margin: 0;
  border: 0;
  border: 1px solid #ccc;
}
.removal-range {
  border-bottom: 3px solid red !important;
}
.search-result {
  background-color: #ffe17d;
  outline: 1px solid #ffcc00;
}
.search-result.active {
  background-color: #ebbc00;
  outline: 1px solid #ffcc00;
}

/**************
  * Syntax highlighting
  **************/
.keyword,
.type {
  color: rgb(38, 127, 153);
}

.function,
.variable,
.tag,
.operator {
  color: rgb(0, 0, 255);
}
.variable.part {
  color: black;
}

.comment,
.punctuation {
  color: rgb(110, 110, 110);
}

.number,
.string,
.escape {
  color: rgb(162, 21, 21);
}

.punctuation.bracket,
.constant,
.annotation {
  color: rgb(120, 94, 38);
}

.property,
.constructor,
.important {
  color: rgb(174, 0, 228);
}

.major_declaration {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.text.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.strong {
  font-weight: bold;
}

.highlight {
  background-color: #ccc;
}

.diagnostic-unnecessary {
  background-color: #ccc;
}
.diagnostic-deprecated {
  text-decoration: line-through;
}
.diagnostic-error,
.diagnostic-warning,
.diagnostic-info,
.diagnostic-hint {
  text-decoration: wavy;
  background-color: #ffcccc;
}

.suggestions {
  position: absolute;
  z-index: 100;
  background: #f5f5f5;
  color: #000;
  padding: 0.25rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-family: monospace;
  line-height: 1.5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #aaa;
  width: 300px;
  display: none;
  max-height: 300px;
  overflow-y: auto;
}
.suggestions > div[active] {
  background: #ceddfe;
  border-radius: 0.25rem;
}
.suggestions > div[active] .detail {
  display: inline;
}
.suggestions > div .detail {
  display: none;
  font-size: 0.8em;
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestions > div {
  padding: 0.15rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.suggestions .material-symbols-outlined {
  font-size: 1.4em;
}
